@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import "variables.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}

.content {
  padding-top: 80px;
  min-height: 100vh;
}

img:hover {
  transform: scale(1.1);
}

.container {
  width: 96%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 1px 3px 10px #888888
}

.btn:hover {
  transform: scale(1.1);
}

.btn--dark {
  background: var(--dark-gunmetal);
  color: ghostwhite;
}

.btn--green {
  background: linear-gradient(to left, var(--green-mochi), var(--night-pearl));
  color: var(--dark-gray);
}

.btn--hidden {
  visibility: hidden;
  cursor: none;
}

.btn--with--icon {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.btn--with--icon img {
  width: inherit;
  height: inherit;
}

.paginator {
  font-size: 16px;
  font-weight: 600;
}

.list {
  width: 57%;
  margin: 0 auto;
}

.nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, var(--green-mochi), var(--night-pearl));
  box-shadow: 0 3px 20px #696969;
}

.list h1 {
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.nav_bar h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--dark-gray);
}

.nav_bar h2 {
  font-size: 22px;
  font-weight: 700;
  color: var(--dark-gray);
  margin-left: 20%;
  flex-shrink: 0;
}

.nav_bar .container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile--items {
  height: initial;
  display: flex;
  align-items: center;
}

.settings {
  position: relative;
  margin: 12px 5px 0 14px;
  bottom: 20px;
}

.settings img {
  width: 25px;
  height: 25px;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 5px 10px #888888
}

.search-bar {
  display: flex;
  align-items: center;
  width: 30%;
  height: 30px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px #888888
}

.search-bar input {
  height: 100%;
  width: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #ffffff;
}

.btn--search {
  width: 40px;
  height: 30px;
  background: #ffffff;
  border: none;
  border-right: 1px solid var(--dark-gray);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.btn--search img {
  width: auto;
  max-height: 100%;
}

footer {
  position: absolute;
  margin-top: auto;
  width: 100%;
  height: 70px;
}

footer .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, var(--green-mochi), var(--night-pearl));
}

.footer__links {
  max-width: 20%;
}

.footer__links img {
  margin: auto 20px;
  height: 40px;
}

.post {
  width: 100%;
  max-height: 30vh;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.post h3 {
  font-size: 20px;
  font-weight: 700;
}

.information-container {
  width: 36.5%;
  max-height: 100%;
  padding: 3px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.post--information {
  width: 95%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.post time {
  align-self: flex-start;
  font-size: 14px;
  color: dimgray;
}

.post--buttons {
  width: 40%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
}

.comments {
  width: 100%;
  max-height: 207px;
  margin-top: 5px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.comments::-webkit-scrollbar, .post--body::-webkit-scrollbar {
  display: none;
}

.comment {
  width: 95%;
  height: 100px;
  margin: 10px auto;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.comment--information {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.comment--information h4 {
  align-self: center;
}

.comment--information time {
  position: relative;
  left: 50%;
}

.comment--information img {
  width: 40px;
  height: 40px;
}

.comment-content {
  width: 100%;
  height: 60px;
  overflow: auto;
  margin-top: 3px;
  font-size: 13px;
}

.content-container {
  box-sizing: border-box;
  width: 73.5%;
  max-height: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-container > a {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-gray);
}

.content-container h4 {
  font-size: 18px;
  font-weight: 700;
}

.content-container p {
  margin-top: 5px;
}

.tags {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.btn--tag {
  margin: 5px 3px;
  padding: 5px;
}

.post--body {
  margin-top: 12px;
  padding-top: 3px;
  font-size: 16px;
  font-weight: 400;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.post-detail .container {
  width: 65%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-detail h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-gray);
}

.post-detail--title {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
  color: var(--dark-gray);
}

.post-detail--information {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  color: #696969;
}

.post-detail--text {
  align-self: flex-start;
  width: 50%;
  margin-top: 5%;
  padding-left: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  border-left: 1px solid;
}

.post-detail--comments {
  width: 30%;
  align-self: flex-start;
  margin-top: 5%;
}

.post-detail--comments h2 {
  font-size: 24px;
}

.post-detail--comment {
  align-self: flex-start;
  margin: 10px 0;
  padding-left: 3px;
  border-left: 1px solid var(--dark-gray);
}

.post-detail--comment h3 {
  display: inline-flex;
}

.post-detail--comment time {
  font-size: 16px;
  font-weight: 500;
  color: #696969;
}

.post-detail--comment p {
  max-width: 100%;
  font-size: 16px;
}

.post-detail--buttons {
  width: 20%;
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
}

.similar-posts {
  width: 100%;
  height: 220px;
  margin-top: 3%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}

.similar-post {
  min-width: calc(100%/3.1 - 10px);
  height: 97%;
  margin: 0 10px;
  border-left: 1px solid var(--dark-gunmetal);
  border-right: 1px solid var(--dark-gunmetal);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similar-post h2 {
  max-width: 90%;
  font-size: 30px;
  overflow: hidden;
}

.similar-post p {
  width: 80%;
  height: 45%;
  text-align: center;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}