@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import "variables.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}

img:hover {
  transform: scale(1.1);
}

.container {
  width: 96%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  background: var(--dark-gray);
  color: white;
}

.btn:hover {
  transform: scale(1.1);
}

.btn--hidden {
  visibility: hidden;
  cursor: none;
}

.btn--with--icon {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.btn--with--icon img {
  width: inherit;
  height: inherit;
}

.paginator {
  position: fixed;
  bottom: 2vh;
  font-size: 14px;
  font-weight: 600;
}

.nav_bar {
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom, var(--green-mochi), var(--night-pearl));
  box-shadow: 0 3px 20px #696969;
}

.list h1 {
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.nav_bar h1, h2 {
  font-size: 50px;
  font-weight: 700;
  color: var(--dark-gray);
}

.nav_bar h2 {
  font-size: 22px;
  margin-left: 20%;
  flex-shrink: 0;
}

.nav_bar .container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile--items {
  height: initial;
  display: flex;
  align-items: center;
}

.settings {
  position: relative;
  margin: 12px 5px 0 14px;
  bottom: 20px;
}

.settings img {
  width: 25px;
  height: 25px;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
  display: flex;
  align-items: center;
  width: 30%;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.search-bar input {
  height: 100%;
  width: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #ffffff;
}

.btn--search {
  width: 40px;
  height: 30px;
  background: #ffffff;
  border: none;
  border-right: 1px solid var(--dark-gray);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.btn--search img {
  width: auto;
  max-height: 100%;
}

.content {
  padding-top: 80px;
}

.post {
  width: 57%;
  max-height: 30vh;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.post h3 {
  font-size: 20px;
  font-weight: 700;
}

.information-container {
  width: 36.5%;
  padding: 3px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
}

.post--information {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.post time {
  align-self: flex-start;
  font-size: 14px;
  color: dimgray;
}

.post--buttons {
  width: 40%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
}

.comments {
  width: 100%;
  max-height: 207px;
  margin-top: 5px;
  border-top: 1px solid var(--dark-gray);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.comments::-webkit-scrollbar {
  display: none;
}

.comment {
  width: 95%;
  height: 100px;
  margin: 10px auto;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.comment--information {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.comment--information h4 {
  align-self: center;
}

.comment--information time {
  position: relative;
  left: 50%;
}

.comment--information img {
  width: 40px;
  height: 40px;
}

.comment-content {
  width: 100%;
  height: 60px;
  overflow: auto;
  margin-top: 3px;
  font-size: 13px;
}

.content-container {
  box-sizing: border-box;
  width: 73.5%;
  height: 100%;
  padding: 10px;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
}

.content-container > a {
  position: relative;
  left: 40%;
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-gray);
}

.content-container h4 {
  font-size: 18px;
  font-weight: 700;
}

.tags {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.btn--tag {
  font-size: 14px;
  margin: 0 3px;
  padding: 5px;
  background-color: var(--midnight-blue);
}

.post--body {
  margin-top: 12px;
  padding-top: 3px;
  font-size: 16px;
  font-weight: 400;
  border-top: 1px solid var(--dark-gray);
}

.post-detail .container {
  width: 65%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-detail h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-gray);
}

.post-detail--title {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
  color: var(--dark-gray);
}

.post-detail--information {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  color: #696969;
}

.post-detail--text {
  align-self: flex-start;
  width: 50%;
  margin-top: 5%;
  padding-left: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  border-left: 1px solid;
}

.post-detail--comments {
  width: 30%;
  align-self: flex-start;
  margin-top: 5%;
  padding-left: 3px;
  border-left: 1px solid var(--dark-gray);
}

.post-detail--comment {
  align-self: flex-start;
  margin: 10px 0;
}

.post-detail--comment h3 {
  display: inline-flex;
}

.post-detail--comment time {
  font-size: 16px;
  font-weight: 500;
  color: #696969;
}

.post-detail--comment p {
  max-width: 100%;
  font-size: 16px;
}